body {
  background-color: #f4f9f4;
  margin: 0;
}

h1 {
  font-size: 4rem;
  font-family: serif;
}

p{
  color: grey;
}
/* Navigation Bar */

.collapse {
  display: inline-block;
  font-size: 1.25rem;
  margin-left: 150px;
}

.navbar-brand {
  padding: 20px;
}
.dropdown-menu {
  border: none;
  background-color: black;
  font-size: 1.25rem;
}

.dropdown-menu>a:hover {
  background-color: #222831;
  color: #fff;
}
.dropdown-item {
  color: #fff;
  background-color: black;
}

.hamburger-button {
  color: #fff;
}

/* Gallery Section */

.container-info {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.album {
  margin: 2% 2.5%;
}

/* .title {
  text-align: center;
  margin: auto;
  background-color: #bceea7;
}


#course-carousel {
  text-align: center;
  background-color: #bceea7;
}

.carousel-image {
  border-radius: 30px;
  border-style: solid;
  border-width: thick 10px;
} */


/* Footer Section */

.container-footer {
  background-color: black;
  padding: 2%;
}

.social-link {
  color: #fff;
  background-color: transparent;
  margin-left: 30%;
}

.social-link:hover {
  color: #222831;
  text-decoration: none;
}
