body {
  font-family: sans-serif;
  background-color: #fff;
}

h1 {
  font-family: serif;
  font-weight: bolder;
  font-size: 3.75rem;

}
/* Navigation Bar */

.container-fluid {
  background-color: black;

}

.dropdown-item {
  color: #fff;
  font-size: 1.25rem;
}

.dropdown-item:hover{
  background-color: #393e46;
  color: #fff;
}

.dropdown-item:focus {
  background-color: black;
  color: #fff;
}


.dropdown-menu {
  background-color: black;
}


/* Safety Certification Section */

.lead {
  width: 60%;
  font-size: 1.10rem;
  color: grey;

}

.jumbotron {
  background-color: #fff;
}


/* Cards Section */

.album {

  background-color: #fff;
  padding: 0 1.5% 2%;
}

.card-body {
  padding: 1.25rem;
}

/* Socials */

#footer {
  padding: 4%;
  text-align: center;
}

#contacts {
  color: #fff;
}

/* Copyright Section */

.copyright {
  text-align: center;
  color: black;
  background-color: #f3e289;
  padding: 1.5%;
}

@media (max-width: 900px) {

  body {
    text-align: center;
    margin: auto;
  }
  .lead {
    margin: auto;
  }
}

/* Carousel Page Sections */

/* Carousel Section */

.course-text {
  color: #fff;
  width: 40%;
  margin: auto;
}
/* title Sections */

.title {
  text-align: center;
  padding: 3%;
  background-color: #fff;
}

.safety-title {
margin: 0 auto 2%;
}
#course-carousel {
  padding: 2.5%;
  background-color: black;
  width: 70%;
  margin: auto;
}

.Safety-Courses-Text {
  width: 50%;
  margin: auto;
  padding: 2.5%;

}
