body {
  font-family: sans-serif;
  background-color: #fff;
}

h1 {
  font-family: serif;
  font-weight: bolder;
  font-size: 3.75rem;

}
/* Navigation Bar */

.container-fluid {
  background-color: black;

}

.dropdown-item {
  color: #fff;
  font-size: 1.25rem;
}

.dropdown-item:hover{
  background-color: #393e46;
  color: #fff;
}

.dropdown-item:focus {
  background-color: black;
  color: #fff;
}


.dropdown-menu {
  background-color: black;
}

/* Safety Certification Section */

.lead {
  width: 60%;
  font-size: 1.10rem;
  color: grey;

}

.jumbotron {
  background-color: #fff;
}


/* Cards Section */

.album {

  background-color: #fff;
  padding: 0 1.5% 2%;
}
/* Socials */

#footer {
  padding: 2.5%;
  text-align: center;
}

#contacts {
  color: #fff;
}

/* @media screen (min-width:600px) {
   .jumbotron {
    text-align: center;

  }
} */

/* Carousel Page Sections */

/* Carousel Section */

.carousel-text {
  color: grey;
}
/* title Sections */

.title {
  text-align: center;
  padding: 2.5%;
}

#course-carousel {
  padding: 2.5%;
  background-color: grey;
}
.Safety-Courses-Text {
  width: 50%;
  margin: auto;
  padding: 2.5%;

}
